<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Guten Tag {registration.firstname} {registration.lastname},</p>
<p>Ihre Reservierung für die Lesesaalnutzung wurde erfolgreich storniert:</p>
<p style="font-size:1.1em;">
    <strong>{f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%H:%M')} Uhr</strong>
</p>

<p>Freundliche Grüße,<br>
Ihr Lesesaalteam</p>
<p>Lesesäle<br>
Staats- und Universitätsbibliothek Hamburg Carl von Ossietzky<br>
Von-Melle-Park 3, 20146 Hamburg<br>
Tel 040-42838-2261|E-Mail: <a href="mailto:lesesaal@sub.uni-hamburg.de">lesesaal@sub.uni-hamburg.de</a><br>
<a href="https:www.sub.uni-hamburg.de">Stabi.Hamburg</a><br>
<a href="https://www.sub.uni-hamburg.de/datenschutzerklaerung.html">Datenschutzerklärung</a></p>

</html>