<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Hallo {registration.firstname} {registration.lastname},</p>
<p>wir haben Ihre Registrierung zum folgenden Event erhalten:</p>
<ul>
    <li style="color:{event.color}">({f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%d.%m.%Y - %H:%M')})</li>
</ul>
<p>Bitte bestätigen Sie Ihre Registrierung durch das Aufrufen des folgenden Links:</p>
<p>
    <f:uri.action action="confirmRegistration" arguments="{reguid: '{registration.uid}', hmac: '{hmac}'}" absolute="TRUE" controller="Event" extensionName="sfeventmgt" pluginName="Pievent" />
</p>
<f:if condition="{event.enableCancel}">
    <p>Falls Sie Ihre Registrierung stornieren möchten, können Sie folgenden Link aufrufen:</p>
    <p>
        <f:uri.action action="cancelRegistration" arguments="{reguid: '{registration.uid}', hmac: '{hmac}'}" absolute="TRUE" controller="Event" extensionName="sfeventmgt" pluginName="Pievent" />
    </p>
</f:if>
<p>Zutritt zum Lesesaal erfolgt unter Vorlage der <b>Reservierungsbestätigung</b>, vorzugsweise ausgedruckt. Bei Bestellung lesesaalpflichtiger Medien: Bitte bestellen Sie Ihre Medien <b>bis spätestens 3 Tage vor dem Reservierungstermin</b>. Die Frist zur Einsichtnahme Ihrer bestellten Medien beträgt 14 Tage.</p>
<p>Ihre Registrierung wird automatisch storniert, wenn Sie die Registrierung nicht bis {f:format.date(date: registration.confirmationUntil, format: '%d.%m.%Y - %H:%M:%S')} bestätigt haben.</p>
<p>Mit freundlichen Grüßen,</p>
<p><f:format.html>{settings.notification.senderSignature}</f:format.html></p>

</html>