<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Guten Tag {registration.firstname} {registration.lastname},</p>
<p>Ihre Reservierung für die Lesesaalnutzung für folgendes Zeitfenster wurde erfolgreich bestätigt:</p>
<p style="font-size:1.1em;">
    <strong>{f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%H:%M')} Uhr</strong>
</p>

<p>
    <div style="width:20px;height:20px;background-color:{event.color};border:1px solid #000000;">&nbsp;</div>
    Ihr Zeitfenster ist '<f:if condition="{event.color}=='yellow'"><f:then>gelb</f:then></f:if>
    <f:if condition="{event.color}=='blue'"><f:then>blau</f:then></f:if>
    <f:if condition="{event.color}=='green'"><f:then>grün</f:then></f:if>'
</p>

<f:if condition="{event.cancellationPossible}">
    <p>Wenn Sie Ihren Termin stornieren möchten, rufen Sie bitte den folgenden Link auf:</p>
    <p>
        <f:link.action action="cancelRegistration" arguments="{reguid: '{registration.uid}', hmac: '{hmac}'}" absolute="TRUE" controller="Event" extensionName="sfeventmgt" pluginName="Pievent">zur Stornierung</f:link.action>
    </p>
</f:if>
<p>Der Zutritt zum Lesesaal erfolgt nur unter <b>Vorlage</b> des Bibliotheksausweises und der <b>Reservierungsbestätigung</b>, vorzugsweise ausgedruckt. Bei Bestellung lesesaalpflichtiger Medien: Bitte bestellen Sie Ihre Medien <b>bis spätestens 3 Tage vor dem Reservierungstermin über den</b> <a href="https://katalogplus.sub.uni-hamburg.de/vufind/" target="_blank">Katalog<b><i>plus</i></b></a>. Die Frist zur Einsichtnahme Ihrer bestellten Medien beträgt 14 Tage.</p>
<p>Freundliche Grüße,<br>
Ihr Lesesaalteam</p>
<p>Lesesäle<br>
Staats- und Universitätsbibliothek Hamburg Carl von Ossietzky<br>
Von-Melle-Park 3, 20146 Hamburg<br>
Tel 040-42838-2261|E-Mail: <a href="mailto:lesesaal@sub.uni-hamburg.de">lesesaal@sub.uni-hamburg.de</a><br>
<a href="https:www.sub.uni-hamburg.de">Stabi.Hamburg</a><br>
<a href="https://www.sub.uni-hamburg.de/datenschutzerklaerung.html">Datenschutzerklärung</a></p>

</html>