<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Neue Registrierung für das Event ({f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%d.%m.%Y - %H:%M')}) </p>

<ul>
    <li>{registration.firstname}</li>
    <li>{registration.lastname}</li>
    <li>{registration.email}</li>
    <li>{registration.phone}</li>
    <li>{registration.accepttc}</li>
</ul>

<f:render partial="Notification/RegistrationFields" arguments="{registration: registration}"/>

<p>Die Registrierung ist noch nicht abgeschlossen, solange der Nutzer die Registrierung nicht bestätigt hat.</p>

</html>