<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Ein Nutzer hat seine Registrierung zu dem folgenden Event storniert:</p>

<p>({f:format.date(date: event.startdate, format: '%d.%m.%Y - %H:%M')}  - {f:format.date(date: event.enddate, format: '%d.%m.%Y - %H:%M')})</p>
<p>
    <div style="width:20px;height:20px;background-color:{event.color};border:1px solid #000000;">&nbsp;</div>
    Ihre Zonenfarbe ist <f:if condition="{event.color}=='yellow'"><f:then>gelb</f:then></f:if>
    <f:if condition="{event.color}=='blue'"><f:then>blau</f:then></f:if>
    <f:if condition="{event.color}=='green'"><f:then>grün</f:then></f:if>
</p>
<p>Registrierungsdaten:</p>

<ul>
    <li>{registration.firstname}</li>
    <li>{registration.lastname}</li>
    <li>{registration.email}</li>
    <li>{registration.phone}</li>
    <li>{registration.accepttc}</li>
</ul>

<f:render partial="Notification/RegistrationFields" arguments="{registration: registration}"/>

</html>