<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e="http://typo3.org/ns/DERHANSEN/SfEventMgt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{event.registrationPossible}">
        <f:then>
            <e:title pageTitle="{event.title}" />

            <f:comment>
            <f:if condition="{settings.detailPid}">
                <div style="float:left;">
                    <f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{event: event}"><f:translate key="event.backDetailsText" /></f:link.action>
                </div>
            </f:if>

            <div style="float:right;">
                <f:link.action action="list" pageUid="{settings.listPid}"><f:translate key="event.backtext" /></f:link.action>
            </div>
            </f:comment>

            <div style="margin-bottom: 20px;">
                <f:link.action action="calendar" pageUid="{settings.calendarPid}">
                    Zurück zur Kalenderansicht
                </f:link.action>
            </div>

            <f:comment><h1><f:translate key="registration.title" /></h1></f:comment>

            <f:comment>
            <div class="event-registration-row" style="clear: both;margin-top:20px;">
                <div class="event-registration-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.title" />
                </div>
                <div class="event-registration-value event-title">
                    <h2>{event.title}</h2>
                </div>
                <div class="clear"></div>
            </div>
            </f:comment>

            <div class="clear"></div>
            <div class="event-registration-row" style="float:left;width: 50%;">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.startdate"/>
                </div>
                <div class="event-list-value event-startdate">
                    <h2><f:format.date format="%d.%m.%Y - %H:%M">{event.startdate}</f:format.date></h2>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.enddate"/>
                </div>
                <div class="event-list-value event-enddate">
                    <h2><f:format.date format="%d.%m.%Y - %H:%M">{event.enddate}</f:format.date></h2>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row" style="float:left;width: 50%;">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.maxParticipants"/>
                </div>
                <div class="event-list-value event-maxparticipants">
                    <h2>{event.maxParticipants}</h2>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-registration-row">
                <div class="event-list-label">
                    <f:translate key="tx_sfeventmgt_domain_model_event.registrations"/>
                </div>
                <div class="event-list-value event-registrations">
                    <h2>{event.registration->f:count()}</h2>
                </div>
                <div class="clear"></div>
            </div>

            <div class="event-registration-row">
                <div class="event-list-label">
                    Farbcodierung
                </div>
                <div class="event-list-value event-registrations">
                    <div style="width:20px;height:20px;background: {event.color};"></div>
                </div>
                <div class="clear"></div>
            </div>

            <f:if condition="{event.currentPrice} > 0">
                <div class="event-registration-row">
                    <div class="event-list-label">
                        <f:translate key="tx_sfeventmgt_domain_model_event.price"/>
                    </div>
                    <div class="event-list-value event-price">
                        {event.currentPrice} {event.currency}
                    </div>
                    <div class="clear"></div>
                </div>
            </f:if>
            <f:if condition="{event.location}">
                <div class="event-registration-row">
                    <div class="event-list-label">
                        <f:translate key="tx_sfeventmgt_domain_model_event.location"/>
                    </div>
                    <div class="event-list-value event-price">
                        {event.location.title}
                    </div>
                    <div class="clear"></div>
                </div>
            </f:if>

            <h2><f:translate key="registration.form.header" /></h2>

            <f:if condition="{event.enableWaitlist}">
                <f:if condition="{event.registration->f:count()} >= {event.maxParticipants}">
                    <p>
                        <strong><f:translate key="registration.form.waitlist" /></strong>
                    </p>
                </f:if>
            </f:if>

            <f:form object="{registration}" name="registration" action="saveRegistration" arguments="{event: event}" class="registration" enctype="multipart/form-data">
                <fieldset>
                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'firstname')}">
                        <label for="firstname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.firstname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="firstname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="firstname" property="firstname" value="{e:prefill(fieldname: 'firstname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.firstname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'lastname')}">
                        <label for="lastname">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.lastname" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="lastname">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="lastname" property="lastname" value="{e:prefill(fieldname: 'lastname', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.lastname'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'email')}">
                        <label for="email">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.email" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="email">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="email" property="email" value="{e:prefill(fieldname: 'email', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.email'}"/>
                    </div>

                    <div class="event-registration-row {e:validation.errorClass(fieldname: 'phone')}">
                        <label for="phone">
                            <f:translate key="tx_sfeventmgt_domain_model_registration.libraryCard" />
                            <e:registration.isRequiredField settings="{settings}" fieldname="phone">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                        <f:form.textfield id="phone" property="phone" value="{e:prefill(fieldname: 'phone', prefillSettings: '{settings.registration.prefillFields}')}"/><br>
                        <f:render partial="FormErrors" arguments="{field: 'registration.phone'}"/>
                    </div>

                    <f:if condition="{event.maxRegistrationsPerUser} > 1">
                        <div class="event-registration-row">
                            <label for="amountOfRegistrations"><f:translate key="tx_sfeventmgt_domain_model_registration.amountOfRegistrations" /></label>
                            <f:form.select id="amountOfRegistrations" property="amountOfRegistrations" options="{e:event.simultaneousRegistrations(event: '{event}')}" />
                        </div>
                    </f:if>

                    <f:if condition="{event.enablePayment}">
                        <br/>
                        <div class="event-registration-row">
                            <label for="paymentmethod"><f:translate key="tx_sfeventmgt_domain_model_registration.paymentmethod" /></label>
                            <f:form.select id="paymentmethod" property="paymentmethod" options="{paymentMethods}" />
                        </div>
                    </f:if>

                    <br/>

                    <f:if condition="{event.registrationFields}">
                        <f:for each="{event.registrationFields}" as="field">
                            <f:render partial="Registration/Fields/{field.partialName}" arguments="{field: field}" />
                        </f:for>
                    </f:if>

                    <div class="event-registration-row checkbox {e:validation.errorClass(fieldname: 'accepttc')}">
                        <label for="accepttc">
                            <f:form.checkbox id="accepttc" property="accepttc" value="1"/>
                            Lesesaal-Medien
                            <f:comment><f:translate key="tx_sfeventmgt_domain_model_registration.accepttc"/></f:comment>
                            <e:registration.isRequiredField settings="{settings}" fieldname="accepttc">
                                <span class="event-required">*</span>
                            </e:registration.isRequiredField>
                        </label>
                    </div>

                    <f:render partial="FormErrors" arguments="{field: 'registration.accepttc'}"/>
                    <f:if condition="{settings.reCaptcha.siteKey}">
                        <div class="event-registration-row recaptcha {e:validation.errorClass(fieldname: 'recaptcha')}">
                            <script src="{settings.reCaptcha.apiUrl}" async defer></script>
                            <div class="g-recaptcha" data-sitekey="{settings.reCaptcha.siteKey}"></div>
                            <f:render partial="FormErrors" arguments="{field: 'registration.recaptcha'}"/>
                        </div>
                    </f:if>
                    <br/>
                    <f:form.submit value="{f:translate(key:'event.submit-registration')}" class="submit"/>
                </fieldset>
            </f:form>

        </f:then>
        <f:else>

            <f:translate key="event.message.registrationnotpossible"/>

        </f:else>
    </f:if>

</f:section>